################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/MosaicFramework/mosaic/node_modules
